<div class="list-group">
    <a class="list-title">
        个人中心
    </a>
    <%= link_to '我的个人中心',center_path,class:'list-group-item'%>
    <%= link_to '我的订单',center_order_path,class:'list-group-item'%>
    <a href="#" class="list-group-item">服务评价</a>
    <a href="#" class="list-group-item">我的收藏</a>
    <a class="list-title">
        账户管理
    </a>
    <a href="#" class="list-group-item">服务地址管理</a>
    <a href="#" class="list-group-item">基本信息</a>
    <a href="#" class="list-group-item">修改密码</a>
</div>