<div class="container next-banner">
    <%= image_tag('front/banner_03.jpg',width:'1000')%>
</div>
<div class="container bs-container">
    <div class="col-xs-3 col-xs-lz">
        <%= render 'left' %>
    </div>
    <div class="col-xs-9 col-xs-rlz">
        <div class="page-header header-text">
            <div class="pull-right">
                <ul class="filter">
                    <li class="pull-left"><a href="#" class="active">待评价服务</a></li>
                    <li class="pull-left"><a href="#">已评价服务</a></li>
                    <li class="pull-left"><a href="#">评价失效服务</a></li>
                </ul>
            </div>
            <h4>服务评价</h4>
        </div>
        <div>
            暂时没有符合条件的服务。
        </div>
    </div>
</div> <!-- /container -->