<div class="container next-banner">
    <%= image_tag('front/banner_03.jpg',width:'1000')%>
</div>
<div class="container bs-container">
    <div class="col-xs-3 col-xs-lz">
        <%= render 'left'%>
    </div>
    <div class="col-xs-9 col-xs-rlz">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-bottom: 0;">
                <div class="row">
                    <div class="col-xs-2">
                        <%= image_tag('front/avatar.jpg',class:'uc-avatar')%>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="user-name">张三 下午好</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-rlz">
                        <ul class="list-group list-group-mbz">
                            <li class="list-group-item context-title">未完成订单</li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="ts-text">
                            您暂时没有未完成的订单。<a href="#">去选择服务>></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-rlz">
                        <ul class="list-group list-group-mbz">
                            <li class="list-group-item context-title">购物车</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-xs-rlz">
                        <ul class="list-group list-group-mbz">
                            <li class="list-group-item context-title context-title-lb">收藏夹</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <div class="ts-text">
                            您的购物车是空的，<a href="#">马上去选择服务>></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-xs-lb">
                        <div class="ts-text">
                            <p>
                                您可将喜欢的商品放入收藏夹，方便随时再次查看~
                                当商品享优惠时，还会通知您哟~
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
