<div class="container next-banner">
    <%= image_tag('front/banner_03.jpg',width:'1000')%>
</div>
<div class="container bs-container">
    <div class="col-xs-3 col-xs-lz">
        <%= render 'left'%>
    </div>
    <div class="col-xs-9 col-xs-rlz">
        <div class="page-header header-text">
            <div class="pull-right">
                <ul class="filter">
                    <li class="pull-left"><a href="#" class="active">全部订单</a></li>
                    <li class="pull-left"><a href="#">已完成</a></li>
                    <li class="pull-left"><a href="#">未完成</a></li>
                    <li class="pull-left"><a href="#">已关闭</a></li>
                </ul>
            </div>
            <h4>我的订单</h4>
        </div>
        <ul>
            <li class="panel panel-default panel-li">
                <!-- Default panel contents -->
                <div class="panel-heading ph-bg">
                    <ul>
                        <li class="order-header-left order-header">
                            <span class="order-status">已完成</span>
                        </li>
                        <li class="order-header-left order-header">订单号：1141125830003327</li>
                        <li class="order-header-left order-header">张三</li>
                        <li class="order-header">2014年11月25日 12:03</li>
                    </ul>
                </div>

                <!-- Table -->
                <table class="table table-bordered order-table">
                    <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="images/pic1.jpg" width="60" height="90" alt=""/>
                            </a>
                            <a href="#" class="order-name">
                                室内保洁
                            </a>
                        </td>
                        <td class="order-jc" rowspan="3">139.00元</td>
                        <td class="order-jc" rowspan="3">
                            <div><a href="#">订单详情></a></div>
                            <div><a href="#">评价></a></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="images/pic1.jpg" width="60" height="90" alt=""/>
                            </a>
                            <a href="#" class="order-name">
                                室内保洁
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="images/pic1.jpg" width="60" height="90" alt=""/>
                            </a>
                            <a href="#" class="order-name">
                                室内保洁
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="panel panel-default panel-li">
                <!-- Default panel contents -->
                <div class="panel-heading ph-bg">
                    <ul>
                        <li class="order-header-left order-header">
                            <span class="order-status">已完成</span>
                        </li>
                        <li class="order-header-left order-header">订单号：1141125830003327</li>
                        <li class="order-header-left order-header">张三</li>
                        <li class="order-header">2014年11月25日 12:03</li>
                    </ul>
                </div>

                <!-- Table -->
                <table class="table table-bordered order-table">
                    <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="images/pic1.jpg" width="60" height="90" alt=""/>
                            </a>
                            <a href="#" class="order-name">
                                室内保洁
                            </a>
                        </td>
                        <td class="order-jc">139.00元</td>
                        <td class="order-jc">
                            <div><a href="#">订单详情></a></div>
                            <div><a href="#">评价></a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="panel panel-default panel-li">
                <!-- Default panel contents -->
                <div class="panel-heading ph-bg">
                    <ul>
                        <li class="order-header-left order-header">
                            <span class="order-status">已完成</span>
                        </li>
                        <li class="order-header-left order-header">订单号：1141125830003327</li>
                        <li class="order-header-left order-header">张三</li>
                        <li class="order-header">2014年11月25日 12:03</li>
                    </ul>
                </div>

                <!-- Table -->
                <table class="table table-bordered order-table">
                    <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img src="images/pic1.jpg" width="60" height="90" alt=""/>
                            </a>
                            <a href="#" class="order-name">
                                室内保洁
                            </a>
                        </td>
                        <td class="order-jc">139.00元</td>
                        <td class="order-jc">
                            <div><a href="#">订单详情></a></div>
                            <div><a href="#">评价></a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div> <!-- /container -->