<div class="container next-banner">
    <%= image_tag('front/banner_03.jpg',width:'1000')%>
</div>
<div class="container bs-container">
    <div class="col-xs-3 col-xs-lz">
        <%= render 'left' %>
    </div>
    <div class="col-xs-9 col-xs-rlz">
        <div class="page-header header-text">
            <h4>我的收藏</h4>
        </div>
        <div>
            您暂未收藏任何服务项目。
        </div>
    </div>
</div> <!-- /container -->