<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        修改管理员
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admins/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li>
        	<%= link_to("管理员列表",managers_path)%>
        </li>
        <li class="active">修改管理员</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="box box-warning">
	    <div class="box-header">
	        <h3 class="box-title">修改管理员</h3>
	    </div><!-- /.box-header -->
	    <div class="box-body">
	        <%= render partial: "form",locals:{manager: @manager} %>
	    </div><!-- /.box-body -->
	</div>
</section><!-- /.content -->