/* CSS Document */

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5,h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0;padding: 0; }
img { border: 0 none; vertical-align: top; }
ul, li { list-style-type: none; }
body, input, select, button, textarea { font-size: 12px; }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body {font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
font-size: 14px; background-color:#fff; color: #333333;}
a, a:link {  text-decoration: none; }
a:visited {  }
a:active, a:hover { text-decoration: underline; }
a:focus { outline: none; }
.clear { clear:both}/*清除浮动*/
.more { float: right;}/*更多样式*/
.more a {font-weight: normal; font-size: 12px; }/*更多链接样式*/
.fl, .fr { display: inline; float: left; }/*向左浮动*/
.fr { float: right; }/*向右浮动*/


