<div class="container next-banner">
        <%= image_tag('front/banner_03.jpg',width:'1000')%>
    </div>
    <div class="container bs-container">
        <div class="row shead">
            <div class="col-xs-7 first">服务</div>
            <div class="col-xs-2">价格</div>
            <div class="col-xs-2">数量</div>
            <div class="col-xs-1">操作</div>
        </div>
        <div class="row slist">
            <div class="col-xs-7 first">
                <a href="#">
                    <%= image_tag('front/pic1.jpg',width:'100',height:'130')%>
                </a>
                <a href="#" class="cattitle">
                    室内保洁
                </a>
            </div>
            <div class="col-xs-2">￥25元/小时</div>
            <div class="col-xs-2">数量</div>
            <div class="col-xs-1">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
        <div class="row slist">
            <div class="col-xs-7 first">
                <a href="#">
                    <%= image_tag('front/pic1.jpg',width:'100',height:'130')%>
                </a>
                <a href="#" class="cattitle">
                    室内保洁
                </a>
            </div>
            <div class="col-xs-2">￥25元/小时</div>
            <div class="col-xs-2">数量</div>
            <div class="col-xs-1">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
    </div>
    <div class="container bs-container container-bg">
        <div class="col-xs-offset-9 col-xs-1">
            <a class="btn btn-default" href="#">继续选择</a>
        </div>
        <div class="col-xs-2" style="text-align: center;">
            <a class="btn btn-warning" href="#">下一步</a>
        </div>
    </div>